// Body
$body-bg: #f8fafc;

// Typography
$font-family-FIRST:'Baloo Da 2', cursive;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-color-title:#F9FDFF;
$font-title-weight:800;
$font-title-sub-weight:700;
$font-title-spacing:3px;

// BUTTONS COLORS
$the-why-color:#DD7973;
$the-why-stroke:#1EC0EF;
$get-inspired-color:#55C2DA;
$get-inspired-stroke:#006FC0;
$share-your-wish-color:#FFBD03;
$share-your-wish-stroke:#38C5FF;
$people-dream-color:#5ADBB5;
$people-dream-stroke:#FFFFFF;
$home-button-color:#F9FDFF;

// NAV COMMON ATRIBUTES

$nav_bubble_size:80px;


