// Body
$body-bg: #f8fafc;

// Typography
$font-family-FIRST:'Baloo Da 2', cursive;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-color-title:#F9FDFF;
$font-title-weight:800;
$font-title-sub-weight:700;
$font-title-spacing:3px;

