// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//BACKGROUND

.bg_pattern {
    padding: 20px;
    margin: 20px;
    font-family: $font-family-FIRST;
    background: linear-gradient(
        121deg,
        rgba(4, 102, 172, 1) 0%,
        rgba(4, 156, 220, 1) 21%,
        rgba(4, 212, 251, 1) 44%,
        rgba(4, 180, 235, 1) 61%,
        rgba(27, 196, 236, 1) 82%,
        rgba(4, 172, 236, 1) 97%,
        rgba(4, 128, 198, 1) 100%
    );
    background: url(/img/bg.svg) no-repeat fixed center;
    // background-size: cover;
    color: #faf;
}

//title text
//div container
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 3.6rem;
}
.header__title {
    font-family: $font-family-FIRST;
    font-weight: $font-title-weight;
    color: $font-color-title;
    letter-spacing: $font-title-spacing;
    line-height: 0.6;
    text-transform: uppercase;
    font-size: 2.2rem;
}
.header__description {
    @extend .header__title;
    font-weight: $font-title-sub-weight;
    text-transform: inherit;
    letter-spacing: inherit;
    font-size: 1rem;
}
.button_lamp {
    height: 80%;
    opacity: 0.19;
    position: absolute;
}
.bubble__link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 50%;
    text-transform: uppercase;

    font-family: $font-family-FIRST;
    font-weight: $font-title-weight;

    /* for centering background image */

    /* for centering text */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0.9;
}
.bubble__why {
    border: 3px solid $the-why-stroke;
    background-color: $the-why-color;

    /* bubble size */
    height: 80px;
    width: 80px;

    /* for absolute positioning */
    position: absolute;
    top: 20%;
    left: 10%;
}
.bubble__inspired {
    border: 3px solid $get-inspired-stroke;
    background-color: $get-inspired-color;

    /* bubble size */
    height: 100px;
    width: 100px;

    /* for absolute positioning */
    position: absolute;
    top: 20%;
    right: 10%;

    font-size: 1.1rem;
}
.bubble__wish {
    border: 3px solid $share-your-wish-stroke;
    background-color: $share-your-wish-color;

    /* bubble size */
    height: 180px;
    width: 180px;

    /* for absolute positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* move circle in the actual middle */

    font-size: 2.3rem;
}
.bubble__dreams {
    border: 3px solid $people-dream-stroke;
    background-color: $people-dream-color;

    /* bubble size */
    height: 120px;
    width: 120px;

    /* for absolute positioning */
    position: absolute;
    bottom: 20%;
    right: 14%;
}
//GENIO ANIMACION
.genius {
    position: fixed;
    width: 90%;
    bottom: -6rem;
    left: -4.5rem;
}
svg#freepik_stories-wishes:not(.animated) .animable {
    opacity: 0;
}
svg#freepik_stories-wishes.animated #freepik--Floor--inject-7 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft,
        1.5s Infinite linear floating;
    animation-delay: 0s, 1s;
}
svg#freepik_stories-wishes.animated #freepik--Character--inject-7 {
    animation: 1.6s 1 forwards ease-in lightSpeedLeft,
        1.5s Infinite linear floating;
    animation-delay: 0s, 1.6s;
}
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes lightSpeedLeft {
    from {
        transform: translate3d(-50%, 0, 0) skewX(20deg);
        opacity: 0;
    }
    60% {
        transform: skewX(-10deg);
        opacity: 1;
    }
    80% {
        transform: skewX(2deg);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.animator-hidden {
    display: none;
}
